@import url("https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css");

:root {
    --shadow-color: 286deg 36% 56%;
    --shadow-elevation-low:
      0px 0.5px 0.6px hsl(var(--shadow-color) / 0.34),
      0px 0.8px 0.9px -1.2px hsl(var(--shadow-color) / 0.34),
      0px 1.9px 2.1px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
      0px 0.5px 0.6px hsl(var(--shadow-color) / 0.36),
      0px 1.5px 1.7px -0.8px hsl(var(--shadow-color) / 0.36),
      0.1px 3.8px 4.3px -1.7px hsl(var(--shadow-color) / 0.36),
      0.1px 9.4px 10.6px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
      0px 0.5px 0.6px hsl(var(--shadow-color) / 0.34),
      0px 2.7px 3px -0.4px hsl(var(--shadow-color) / 0.34),
      0.1px 5.1px 5.7px -0.7px hsl(var(--shadow-color) / 0.34),
      0.1px 8.4px 9.5px -1.1px hsl(var(--shadow-color) / 0.34),
      0.2px 13.4px 15.1px -1.4px hsl(var(--shadow-color) / 0.34),
      0.3px 20.9px 23.5px -1.8px hsl(var(--shadow-color) / 0.34),
      0.4px 31.8px 35.8px -2.1px hsl(var(--shadow-color) / 0.34),
      0.6px 46.8px 52.7px -2.5px hsl(var(--shadow-color) / 0.34);
  }

.container{
    background:#F1CFFC;
    margin: 0;
    height: 100vh;
}


body{
    margin: 0;
}

button{
    margin-inline: 15px;
    border-radius: 5px;
    border: 0;

box-shadow:  var(--shadow-elevation-medium);
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 40px;
    height: 50px;
    border-radius: 1px;
}

input[type='text']{
    height: 30px;
    width: 100%;
    text-align: center;
    border: 0;
    border-radius: 5px;
    background: #fafafa;
    box-shadow: var(--shadow-elevation-medium)
}

.lineThrough{
    text-decoration: line-through;
}
.warning{
    background-color: yellow;
}
.succes{
    background-color: yellowgreen;
}
.danger{
    background-color: red;
}

.show{
    visibility: visible;
}
.card{
    padding: 20px;
    border-radius: 10px;
    background: whitesmoke;
    box-shadow:  var(--shadow-elevation-medium);
    margin:0 40px 40px;
}
.display{
    margin: 0 10%;
    color: whitesmoke;
    text-shadow: -1px -1px 0 #aaa, 1px -1px 0 #aaa, -1px 1px 0 #aaa, 1px 1px 0 #aaa;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
}